<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>仓库管理员系统</title>


    <link rel="stylesheet" href="/static/css/element.css">
	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="stylesheet" href="/static/css/user.css">

	<script src="/static/js/vue.js"></script>
	<script src="/static/js/axios.js"></script>
	<script src="/static/js/helper.js"></script>
	<script src="/static/js/element.js"></script>
</head>
<body>
  <div id="app" class="app-warpper">
		<div class="app-menu">
			<div class="title">
				<h3 class="menu-item">仓库管理员系统</h3>
			</div>
			<a href="../admin_store" class="menu-item {% block store %}{% endblock %}">
				<span slot="title">仓库管理</span>
			</a>
			<a href="../admin_in_store" class="menu-item {% block in_store %}{% endblock %}">
				<span slot="title">入库记录</span>
			</a>
			<a href="../admin_out_store" class="menu-item {% block out_store %}{% endblock %}">
				<span slot="title">出库记录</span>
			</a>
			<a href="../admin_user" class="menu-item {% block user %}{% endblock %}">
				<span slot="title">用户管理</span>
			</a>
			<a href="../login" class="menu-item">
				<span slot="title">退出登录</span>
			</a>
		</div>
		<div class="app-body">
			<div class="app-header">
        <span>工作人员：</span>
				<span id="user-name">user</span>
			</div>
			<div class="app-container">
				{% block mainbody %}
				{% endblock %}
			</div>
		</div>
  </div>
  <script>
    let userInfo = window.localStorage.getItem("store_management_userInfo")
    if (userInfo) {
      userInfo = JSON.parse(userInfo)
      document.getElementById('user-name').innerHTML = userInfo.name
    }
  </script>
</body>